
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-sm-12 col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Cerca</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
         </div>
    </div>               
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Telefono</th>
                <th scope="col">Indirizzo</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= 'let utente of persone'>
                
                    <td>{{utente.id}}</td>
                    <td>{{utente.nome}}</td>
                    <td>{{utente.cognome}}</td>
                    <td>{{utente.telefono}}</td>
                    <td>{{utente.indirizzo}}</td>
                    <td> 
                    <a routerLink= '/informazioni'>
                        <button type="button"  data-bs-toggle="modal" >
                                modifica
                        </button>   
                    </a>                                             
                        <button (click)="delete(utente.id)">elimina</button>
                    </td>

                
            </tr>
        </tbody>    
    </table>       
    <form> 
        <h3>Aggiungi contatto</h3>
            <div class="row align-items-start">
                <div class="col-sm-12 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Cognome</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" pattern="[0-9]{10}">
                    </div>
                </div>
            </div>                                      
            <div class="row align-items-start">
                <div class="col-sm-12 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Indirizzo</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>     
                <button class="btn btn-success" >Aggiungi</button>
    </form>
</div>
        
        
          
          
          

