    <div class="row align-items-start">
        <div class="col-sm-12 col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Cerca</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
         </div>
    </div>               
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Telefono</th>
                <th scope="col">Indirizzo</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let utente of persone">
                
                    <td>{{utente.id}}</td>
                    <td>{{utente.nome}}</td>
                    <td>{{utente.cognome}}</td>
                    <td>{{utente.telefono}}</td>
                    <td>{{utente.indirizzo}}</td>
                    <td> 
                    
                        <button type="button" (click)="modifica(utente.id)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>   
                                                                
                        <button (click)="delete(utente.id)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        <button type="button" (click)="getemail(utente)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </button>
                        
                    </td>

                    

            </tr>
        </tbody>    
    </table>       
    <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
        <h3>Aggiungi contatto</h3>
            <div class="row align-items-start">
                <div class="col-sm-12 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="nome">
                       <div *ngIf="!this.form.get('nome').valid">
                        errore
                       </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Cognome</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="cognome">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" pattern="[0-9]{10}" formControlName="telefono">
                    </div>
                </div>
            </div>                                      
            <div class="row align-items-start">
                <div class="col-sm-12 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Indirizzo</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="indirizzo">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">E-mail</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="email">
                    </div>
                </div>
            </div>   
              
                <button class="btn btn-success" type="submit">Aggiungi</button>
    </form>
        
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">E-mail</h5>
              
             
            </div>

            <div class="modal-body">
                {{persona?.email}}
            </div>
            
            <div class="modal-footer">
                
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              
            </div>
          </div>
        </div>
    </div>
          
          

